@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.about_container {
    width: 100%;
    padding: 50px 8%;
}

.imagesection{
    grid-area: imagSect;
}

.infosaction{
    grid-area: infoSect;
}

.skillsection{
    grid-area: skillSect;
}

.about_container .about_contents {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas: 'imagSect infoSect'
                         'skillSect skillSect';
}

.imagesection {
    position: relative;
    min-width: 300px;
    height: 380px;
}

.imagesection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.imagesection::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid var(--main-color);
    top: 15px;
    left: 15px;
    z-index: 1;
}

.infosaction h1 {
    color: var(--main-color);
    font-size: 30px;
    font-family: Helvetica;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.infosaction  span {
    color: var(--text-color);
    font-family: Helvetica;
}

.infosaction h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: var(--main-color);
}

.infosaction h1::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: var(--main-color);
}

.infosaction h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    padding-bottom: 7px;
    padding-top: 7px;
}

.infosaction p {
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 18px;
}

.personalinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}

.personalinfo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.personalinfo div span {
    color: #aaabb0;
    letter-spacing: 1px;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.2rem; 
    background: var(--main-color);
    border-radius: 1.5rem; 
    box-shadow: 0 0 0.5rem var(--main-color); 
    font-size: 1rem; 
    color: var(--bg-color);
    letter-spacing: 0.03rem;
    font-weight: 600;
    transition: 0.5s ease;
    text-decoration: none;
    margin-top: 1rem;
}

.btn:hover {
    box-shadow: none;
}


.skillsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
}

.skillsection .subject {
    font-size: 17px;
    font-weight: thin;
    color: #aaabb0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.progress_bar{
    width: 100%;
    height: 16px;
    background-color: var(--bg-color);
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
}

.progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    box-shadow: -1px -1px 2px #222222,
                 1px 1px 2px #111111;
    border-radius: 15px;
}

.progress_line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
}

#back i{
    position:fixed;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    z-index: 3;

}

.friends_container{
    height: 100vh;
    width: 100%;
    background-color: var(--snd-bg-color);
}
















































@media (max-width: 1068px){
    .about_container .about_contents {
        grid-template-areas: 'imagSect skillSect'
                             'infoSect infoSect';
    }

    .skillsection{
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #back i{
        font-size: 55px;
    }

}

@media (max-width: 868px){
    .about_container .about_contents {
        grid-template-areas: 'imagSect  imagSect'
                             'infoSect infoSect'
                             'skillSect skillSect';
    }
    #back i{
        font-size: 57px;
    }

}

@media (max-width: 668px){
    .personalinfo{
        grid-template-columns: 1fr;
    }

}


